TINA_PUBLIC_IS_LOCAL=true

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=public

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

GITHUB_OWNER=
GITHUB_REPO=
GITHUB_TOKEN=
GITHUB_BRANCH=main
TINA_GITHUB_COMMIT_MESSAGE=content: update homepage via Tina

TINACMS_ALLOWED_EMAILS=editor@example.com
